---
export const prerender = true
---

<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1>Error 404</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique cumque magni beatae repudiandae, quibusdam at eaque officia voluptates pariatur dolores nemo, eum suscipit accusantium, id neque accusamus aliquid blanditiis itaque!</p>
	<p><a href="/">Back</a></p>
  </body>
</html>